<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>register</title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/login.css">
  <link rel="stylesheet" href="font/glyphicons-halflings-regular.ttf">

</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body ng-app="myApp" ng-controller="myCtrl">

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">Face Dect</a>
      </div>
      <ul class="nav navbar-nav">

        <li><a href="search.html">Search</a></li>
        <li><a href="live.html">Live Stream</a></li>
        <li><a href="manage.html">Manage</a></li>
        <li><a href="addUser.html">Add Employee</a></li>
        <li><a href="register.html">Add UserAdmin</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href=""> <span class="glyphicon glyphicon-user"></span> KMITL</a>
          <ul class="dropdown-menu">
            <li><a href="changepass.html">Change password</a></li>
          </ul>
        </li>
        <li><a href="index.html"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
      </ul>
    </div>
  </nav>

  <div class="container panel-login changepassbox">
    <form>
      <h3>Add UserAdmin</h3>
      <div class="form-input topmar">
        <select class="form-control" id="companyID" placeholder="Company ID" required>
            <option value="">Choose Company</option>
            <option ng-repeat="company in companys" value={{company.id}}>{{company.name}}</option>
        </select><br>
      </div>
      <div class="form-input">
        <input type="text" class="form-control" id="firstName" placeholder="First Name" required>
      </div>
      <div class="form-input">
        <input type="text" class="form-control" id="lastName" placeholder="Last Name" required>
      </div>
      <div class="form-input">
        <input type="text" class="form-control" id="email" placeholder="email" required>
      </div>
      <div class="form-input">
        <input type="password" class="form-control" id="password" placeholder="password" required>
      </div>
    </form>
    <button ng-click="submit()" type="button" class="btn btn-default">Submit</button>
  </div>



</body>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
  function getCookie(cname) {
      name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
              c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
              return c.substring(name.length, c.length);
          }
      }
      return "";
  }
  var app = angular.module('myApp', []);
  app.controller('myCtrl', function($scope, $http) {
    var token = 'Basic '+getCookie("auth");
    $scope.config = {
      headers: {
        'Authorization' : token
      }
    };
    $http.get("http://161.246.5.160:8000/company/", $scope.config)
    .then(function(response) {
      console.log(response);
      $scope.companys = response.data;
    });
    $scope.submit = function() {
        companyID = parseInt(document.getElementById("companyID").value);
        firstName = document.getElementById("firstName").value;
        lastName  = document.getElementById("lastName").value;
        email     = document.getElementById("email").value;
        password  = document.getElementById("password").value;
        $scope.data = {
          "first_name"  : firstName,
          "company"     : companyID,
          "email"       : email,
          "password"    : password,
          "last_name"   : lastName
        }
        console.log($scope.data);
        $http.post("http://161.246.5.160:8000/user/register/useradmin_register/", $scope.data , $scope.config)
        .then(function(response) {
            console.log(response);
            window.location.href = "index.html";
        });
    }
  });

</script>

</html>
